{% extends "layout.html" %}
{% block title %}{{ book['title'] }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='books_style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}
{% block content %}
    <ul class="general-information">
        <li>ISBN: {{ book['isbn'] }}</li>
        <li>Title: {{ book['title'] }}</li>
        <li>Author: {{ book['author'] }}</li>
        <li>Year: {{ book['year'] }}</li>

    </ul>
    <ul class="goodread-api">
        <li>Rating: {{ data["books"][0]['average_rating'] }}</li>
        <li>{{ data["books"][0]['ratings_count'] }} users voted</li>
    </ul>
    <ul class="reviews-list">
        {% for review in reviews %}
            <li>User: {{ review['user_login'] }}</li>
            <li>Review: {{ review['review_text'] }}</li></br>
        {% endfor %}
    </ul>
    <div class="post-review">
    {% if can_write %}
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <form action="{{ url_for('books', isbn=book['isbn']) }}" method="post">
            <input type="text" name="user-review" placeholder="Write your opinion">
            <input type="submit" value="Submit" >
        </form>
    {% endif %}
    </div>
{% endblock %}
