{% extends "layout.html" %}
{% block title %}{{ book['title'] }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='books_style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}
{% block content %}
    <ul class="general-information">
        <li>ISBN: {{ book['isbn'] }}</li>
        <li>Title: {{ book['title'] }}</li>
        <li>Author: {{ book['author'] }}</li>
        <li>Year: {{ book['year'] }}</li>

    </ul>
    <ul class="goodread-api">
        <li>Rating: {{ data["books"][0]['average_rating'] }}</li>
        <li>{{ data["books"][0]['ratings_count'] }} users voted</li>
    </ul>
    <ul class="reviews-list">
        {% for review in reviews %}
            <li>User: {{ review['login'] }}</li>
            <li>Review:</br> {{ review['review_text'] }}</li></br>
        {% endfor %}
    </ul>
{% endblock %}
