{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<div class="search-bar">
    <form class="example" action="{{ url_for('index') }}" method="post">
        <input type="text" class="form-control" name="item" placeholder="Search..">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div>
    <ul>
    {% for book in books %}
        <li><h4><a href="{{ url_for('books', isbn=book['isbn']) }}">{{ book['title'] }}</a></h4></li>
        <li>ISBN: {{ book['isbn'] }}</li>
        <li>Author: {{ book['author'] }}</li>
        <li>Year: {{ book['year'] }}</li></br>
    {% endfor %}
    </ul>
</div>
{% endblock %}
