<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

        <ul class="topnav">
                <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                <li><a href="/">Books</a></li>
                <li><a href="/">About</a></li>
                <li class="right"><a href="{{ url_for('login') }}">Log in </a></li>
            </ul>

        <section class="section1"></section>
        <section class="content"></section>


</body>
</html>