<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}-recenzownia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <ul class="topnav">
        <li class="left-button"><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li class="left-button"><a href="/">Books</a></li>
        <li class="left-button"><a href="/">About</a></li>
        {% if g.user == None %}
            <li class="right-button"><a  href="{{ url_for('login') }}">Log in </a></li>
        {% else %}
            <li class="right-button"><a  href="{{ url_for('logout') }}">Log out </a></li>
        {% endif %}
    </ul>

    {% block content %}{% endblock %}
</body>
</html>
