{% extends "layout.html" %}
{% block title %}Log in{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="form-group row px-sm-4" >
    <form action="{{ url_for('login') }}" method="post">
        {% if newaccount %}
            <div class="alert alert-success" role="alert">
                Account successfully created, you can log in
            </div>
        {% endif %}
        <h3>Please log in</h3>
        {% if wrong %}
        <div class="alert alert-danger" role="alert">
           Wrong log in or password
        </div>
        {% endif %}
        <div class="col-xs-4">
            <input type="text" class="form-control" name="login" placeholder="Login">
        </div>
        <div class="col-xs-4">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        <div>If you don't have account <a href="/register">click here </a>to register</div>
    </form>
</div>
{% endblock %}
