{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="col">
        {% if isExist %}
            <div class="alert alert-danger" role="alert">
                Account with that email or login already exist
            </div>
        {% endif %}
        <h4 class="mb-3">Register to explore the site</h4>
        <form action="{{ url_for('login') }}" method="post">
            <div class="col">
                <div class="row ">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" name="login">
                    {{ loginMessage }}
                </div>
                <div class="row">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="row">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email">
                    {{ emailMessage }}
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </div>
        </form>
        <div>If you already have account <a href="/login">click here</a></div>
    </div>
{% endblock %}
