<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Success!</h1>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-success col-md-2 col-md-offset-2" >
            {{ message }}
        </div>
    </div>
    <a href="/">Click here</a> to return to homepage
    {% endblock %}

</body>
</html>